img {
    display: block;
    width: 100%;
}

.container {
    margin: auto;
    max-width: 400px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    word-break: break-word;
}



@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}