.graph-eps {
    display: flex;
    flex-direction: column;
}

.graph-content {
    display: flex;
    flex-direction: row;
}

.width-20 {
    width: 15%;
}

.width-40 {
    width: 40%;
    text-align: center;
}

.graph-eps-type {
    margin-left: 20px;
}

@media (max-width: 992px) {
    .eps-specs {
        display: none;
    }

    .graph-content {

        flex-direction: column;
    }

    .graph-eps-type {
        margin-top: 20px;
    }
}